$margin: 20px;


.page-ListProducts {
  background-color: white;
  padding: $margin;

  .MuiFormControl-fullWidth, .MuiButton-contained {
    margin-top: $margin;
  }
}

.tabelinha {

  text-align: center;
}
